<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SokoMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SokoMan.Properties.Settings>
            <setting name="bMusic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iMapIndex" serializeAs="String">
                <value>1</value>
            </setting>
        </SokoMan.Properties.Settings>
    </userSettings>
</configuration>